#gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: auto;
    border-style: solid;
    border-width: 10px;
}

.controlPanel{
    width: 600px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 20px;
}

button{
    padding: 10px;
}

h1{
    margin: auto;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 20px;
}